swagger: '2.0'
info:
  version: v1
  title: Merlin Web Service
host: www.grabdata2.com
basePath: /MerlinWebService
schemes:
  - http
  - https
paths:
  /api/Account/GenerateToken:
    post:
      tags:
        - Account
      summary: "Supply Merlin credentials to generate a JSON Web Token for the Web Service. The token will be used to authorize each call, and will be passed as a parameter to \r\neach call. The token will determine what level of access you have for the rest of the calls. The token will be valid for 60 minutes at the time of generation."
      operationId: Account_GenerateJSONWebToken
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: username
          in: query
          description: ''
          required: true
          type: string
        - name: password
          in: query
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
  /api/Account:
    post:
      tags:
        - Account
      operationId: Account_ValidateUser
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: username
          in: query
          description: The name of the user to validate.
          required: true
          type: string
        - name: password
          in: query
          description: The password for the specified user.
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
  /GetTemplates:
    get:
      tags:
        - Templates
      summary: Retrieves all templates that are accessible by the user. The template details show the ID and name of the template.
      operationId: Templates_Get
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: token
          in: query
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Template'
  /GetMeasurementsByTemplate:
    get:
      tags:
        - Templates
      summary: Retrieves measurements by template. This call will also generate series strings for each measurement.
      operationId: Templates_GetMeasuresByTemplate
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: token
          in: query
          required: true
          type: string
        - name: templateID
          in: query
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Measure'
  /GetQualityVersions:
    get:
      tags:
        - Values
      summary: Retrieves Quality Version details such as name and ID. Quality Versions can be used to query different revisions stored in Events based on Quality Codes.
      operationId: Values_Get
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: token
          in: query
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/QualityVersions'
  /GetEventsBySeriesString:
    get:
      tags:
        - Values
      summary: "Retrieves events by series string. Series string can be generated from the GetMeasuresByTemplate call. Quality Version can be entered as a parameter which selects\r\nevents based on their groupings of Quality Codes. These groupings are defined in Merlin Enterprise. The defined groupings are Validation/Calibration data or Boundary\r\nCondition data. Note that some data will not have any Val/Cal data because it is completely synthesized. The events that will be pulled will be the latest revision of \r\nevents that fall under the queried Quality Version."
      operationId: Values_GetEventsByTypeID
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: token
          in: query
          required: true
          type: string
        - name: seriesString
          in: query
          required: true
          type: string
        - name: qvID
          in: query
          required: false
          type: integer
          format: int32
        - name: startDate
          in: query
          required: false
          type: string
          format: date-time
        - name: endDate
          in: query
          required: false
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Data'
definitions:
  Template:
    description: Public class to define Data Profiles
    type: object
    properties:
      dprID:
        format: int32
        description: Profile ID
        type: integer
      dprName:
        description: Profile Name
        type: string
  Measure:
    description: Public class for template measurement series
    type: object
    properties:
      typID:
        description: Type ID
        type: string
      seriesString:
        description: Series name
        type: string
      isProcessed:
        type: boolean
  QualityVersions:
    type: object
    properties:
      qvID:
        format: int32
        type: integer
      qvName:
        type: string
      qvDescription:
        type: string
      qvActive:
        type: boolean
      qvQueryHistory:
        type: boolean
      qvUI:
        format: int32
        type: integer
  Data:
    type: object
    properties:
      Project:
        type: string
      Station:
        type: string
      Latitude:
        type: string
      Longitude:
        type: string
      Sensor:
        type: string
      Measurement:
        type: string
      Timestep:
        type: string
      DataType:
        type: string
      Duration:
        type: string
      Parameter:
        type: string
      Units:
        type: string
      TimeZone:
        type: string
      SeriesString:
        type: string
      Events:
        type: array
        items:
          $ref: '#/definitions/Event'
  Event:
    description: Public class for events
    type: object
    properties:
      Date:
        format: date-time
        description: Event Date
        type: string
      Value:
        format: double
        description: Value
        type: number
      Quality:
        format: int32
        description: Event Fail
        type: integer
