swagger: '2.0'
info:
  version: v1
  title: Merlin Web Service
host: www.grabdata2.com
basePath: /MerlinWebService
schemes:
  - http
  - https
paths:
  /api/Account/GenerateToken:
    post:
      tags:
        - Account
      summary: Supply Merlin credentials to generate a key for the Web Service.
      operationId: Account_GenerateJSONWebToken
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: username
          in: query
          description: ''
          required: true
          type: string
        - name: password
          in: query
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: string
  /api/Account:
    post:
      tags:
        - Account
      operationId: Account_ValidateUser
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: username
          in: query
          description: The name of the user to validate.
          required: true
          type: string
        - name: password
          in: query
          description: The password for the specified user.
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
  /GetProfiles:
    get:
      tags:
        - Profiles
      summary: Retrieves profiles by user
      operationId: Profiles_Get
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: token
          in: query
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Profile'
  /GetMeasurementsByProfile:
    get:
      tags:
        - Profiles
      summary: Retrieves measurements by profile
      operationId: Profiles_GetMeasuresByProfile
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: token
          in: query
          required: true
          type: string
        - name: profileID
          in: query
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Measure'
  /GetEventsBySeriesString:
    get:
      tags:
        - Values
      summary: Retrieves events by series string
      operationId: Values_GetEventsByTypeID
      consumes: []
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      parameters:
        - name: token
          in: query
          required: true
          type: string
        - name: seriesString
          in: query
          required: true
          type: string
        - name: startDate
          in: query
          required: false
          type: string
          format: date-time
        - name: endDate
          in: query
          required: false
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Data'
definitions:
  Profile:
    description: Public class to define Data Profiles
    type: object
    properties:
      dprID:
        format: int32
        description: Profile ID
        type: integer
      dprName:
        description: Profile Name
        type: string
  Measure:
    description: Public class for profile measurement series
    type: object
    properties:
      typID:
        description: Type ID
        type: string
      seriesString:
        description: Series name
        type: string
  Data:
    type: object
    properties:
      Project:
        type: string
      Station:
        type: string
      Latitude:
        type: string
      Longitude:
        type: string
      Sensor:
        type: string
      Measurement:
        type: string
      Timestep:
        type: string
      DataType:
        type: string
      Duration:
        type: string
      Parameter:
        type: string
      Units:
        type: string
      TimeZone:
        type: string
      SeriesString:
        type: string
      Events:
        type: array
        items:
          $ref: '#/definitions/Event'
  Event:
    description: Public class for events
    type: object
    properties:
      Date:
        format: date-time
        description: Event Date
        type: string
      Value:
        format: double
        description: Value
        type: number
      Quality:
        format: int32
        description: Event Fail
        type: integer
